<section class="w-full max-w-screen-2xl mx-auto items-center text-primary mt-2 pb-10">
  <!-- migas de pan -->
  <div class="mb-3 transition-colors">
    <button (click)="volverAtras()"
      class="text-secondary hover:text-primary text-bodyS flex items-center gap-2 duration-300">
      <img src="assets/icons/chevron-left.svg" alt="Volver" class="w-3 h-3" />
      Volver
    </button>
  </div>
  <!-- row card cortometraje -->
  <div class="row">
    <div class="w-full lg:max-w-full lg:flex">
      @if (cortometraje()) {
      <div class="h-auto lg:h-auto lg:w-[65%] flex-none bg-cover text-center overflow-hidden">

        <!-- video -->
        <div class="aspect-video overflow-hidden">
          <iframe [src]="videoUrlSanitizado()" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
        </div>
      </div>

      <!-- datos video -->
      <div class="px-4 py-2 flex flex-col justify-between leading-normal ms-5">
        <div>
          <!-- titulo y puntuacion -->
          <div class="pt-4">
            <div class="flex mb-1 justify-between max-w-[95%]">
              <h1 class="text-h2">{{ cortometraje()?.title }}</h1>
              <span class="w-9 h-9 min-w-9 border border-primary text-primary font-bold rounded flex items-center justify-center">
                {{ cortometraje()?.rating }}
              </span>
            </div>

            <!-- autor -->
            <a [routerLink]="['/admin/autor', cortometraje()?.author]"
              class="text-base text-primary text-underline hover:text-secondary">
              {{ cortometraje()?.author }}
            </a>
          </div>

          <!-- datos generales -->
          <div class="flex flex-wrap items-center gap-2 text-action text-bodyS my-10">
            <span>{{ cortometraje()?.releaseYear }}</span>
            <img src="assets/icons/linedetails.svg" alt="|" class="h-[18px] mx-2" />
            <span>{{ cortometraje()?.duration }} min</span>
            <img src="assets/icons/linedetails.svg" alt="|" class="h-[18px] mx-2" />
            <span>{{ cortometraje()?.language?.toUpperCase() }}</span>
            <img src="assets/icons/linedetails.svg" alt="|" class="h-[18px] mx-2" />
            <span>{{ cortometraje()?.category?.toUpperCase() }}</span>
          </div>

          <div>
            <h2 class="text-actionS my-2">Técnica</h2>
            <p class="text-bodyS text-primary pb-6">
              {{ cortometraje()?.technique }}
            </p>
          </div>

          <!-- sinopsis -->
          <div class="pb-2">
            <h2 class="text-actionS my-2">Sinopsis</h2>
            <p class="text-bodyS text-primary pb-4 max-w-[95%]">
              {{ cortometraje()?.description }}
            </p>
          </div>
        </div>

        <!-- grupo de botones -->
        <div class="flex flex-wrap justify-center gap-4 mt-4 pb-4">
          <!-- boton reseñas -->
          <a [routerLink]="['/admin/reviews']" [queryParams]="{ pelicula: cortometraje()?.title }"
            class="boton-menu icon-btn flex items-center gap-2 group">
            <img src="assets/icons/comment.svg" alt="Ocultar" class="w-5 h-5" />
            <p>Reseñas</p>
          </a>

          <!-- boton eliminar -->
          <button (click)="onEliminarCortometraje(cortometraje()!.id)"
            class="boton-menu icon-btn flex items-center gap-2 group">
            <img src="assets/icons/delete.svg" alt="Ocultar" class="w-5 h-5" />
            <span>Eliminar</span>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</section>