<app-navbar></app-navbar>

@if (user()) {
<section class="text-center py-10 text-textBase mt-4">
  <div class="flex flex-col items-center gap-3">
    <img [src]="user()?.profileImage || 'assets/icons/default-avatar.svg'" alt="Foto de perfil"
      class="w-[8rem] h-[8rem] rounded-full object-cover border border-none" />
    <div>
      <h1 class="text-h6 font-semibold">¡Hola, {{ user()?.username }}!</h1>
      <p class="text-bodyS font-semibold text-primary max-w-xl">
        Este es tu estudio, tu espacio personal donde puedes guardar las obras que más te
        inspiran y compartir las tuyas propias con el mundo
      </p>
      <div class="flex justify-center gap-4 mt-6 flex-wrap">
        <a routerLink="gestion-obras" class="boton-menu flex items-center gap-2 icon-btn"
          routerLinkActive="active-link">
          <img src="assets/icons/ajust.svg" alt="Gestionar" class="w-5 h-5" />
          Gestionar obras
        </a>

        <button class="boton-menu flex items-center gap-2 icon-btn" (click)="abrirModalSubida()"
          routerLinkActive="active-link">
          <img src="assets/icons/upload.svg" alt="Subir" class="w-5 h-5" />
          Subir obra
        </button>

        <a routerLink="ver-despues" class="boton-menu flex items-center gap-2 icon-btn" routerLinkActive="active-link">
          <img src="assets/icons/bookmark.svg" alt="Principal" class="w-5 h-5" />
          Ver después
        </a>

        <a routerLink="editar-perfil" class="boton-menu flex items-center gap-2 icon-btn"
          routerLinkActive="active-link">
          <img src="assets/icons/edit.svg" alt="Editar" class="w-5 h-5" />
          Editar perfil
        </a>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
} @else {
<div class="text-center mt-10 text-bodyS text-secondary">Cargando datos del usuario...</div>
}

@if (modalSubida()) {
<app-upload-modal [visible]="true" (close)="cerrarModalSubida()" (submit)="crearNuevaObra($event)" />
}

<app-footer></app-footer>