<section class="py-10 text-textBase mt-4">
  <h4 class="text-h4 mb-4 text-center">Obras por autor</h4>

  <section>
    @if (userData) {
    <div class="flex flex-col items-center gap-3">
      <img [src]="userData.profileImage" (error)="onImageError($event)" alt="Avatar del autor"
        class="w-[8rem] h-[8rem] rounded-full object-cover border border-none" />

      <h6 class="text-h6">{{ autor }}</h6>
    </div>
    } @else {
    <p class="text-center text-subtext mb-6">Cargando perfil del autor...</p>
    }
  </section>

  <section class="w-screen relative left-1/2 -translate-x-1/2 bg-principal pt-7 pb-4 px-0">
    <div class="px-[clamp(1rem,2.5vw,48px)] py-3">
      <h2 class="text-l font-semibold text-left">Todos sus metrajes</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5
    gap-x-4 gap-y-4 justify-items-center">
      @for (corto of cortometrajesFiltrados; track corto.id) {
      <app-cortometraje-card [corto]="corto" [mostrarEliminar]="true" (eliminar)="onEliminarCortometraje($event)" />
      } @if (!cortometrajesFiltrados.length) {
      <p class="col-span-full text-center text-sm text-subtext mt-6">
        Este autor aún no tiene cortometrajes disponibles.
      </p>
      }
    </div>
  </section>
</section>