<div class="relative w-full overflow-hidden shadow-md transition-shadow">
  <a [routerLink]="authService.isAdmin() ? ['/admin/cortometraje', corto.id] : ['/cortometraje', corto.id]"
    class="relative aspect-[16/9] overflow-hidden block">
    <img [src]="corto.imageUrl" [alt]="corto.title" class="w-full h-full object-cover transition-transform 
    duration-300 hover:scale-105 block" />
  </a>

  <div class="bg-card p-3 px-4 h-[60px] flex items-center justify-between gap-2">
    <div class="flex flex-col overflow-hidden">
      <h3 class="text-actionS text-primary truncate">
        {{ corto.title }}
      </h3>
      <p class="text-bodyXS text-primary mt-1 truncate">{{ corto.author }}</p>
    </div>

    @if (mostrarEliminar) {
    <button (click)="eliminar.emit(corto.id)" class="small-btn icon-btn text-primary transition-colors" title="Eliminar video">
      <img src="assets/icons/delete.svg" alt="Ocultar" class="w-5 h-5" />
    </button>
    }
  </div>
</div>