<section class="w-screen min-h-[35rem] relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] overflow-hidden">
  <!-- imagen de fondo -->
  <div class="absolute inset-0 bg-fixed bg-cover bg-center bg-main-bg opacity-20 -z-10"></div>

  <!-- contenido -->
  <div class="max-w-4xl mx-auto text-center space-y-6 my-20 px-12">
    <h4 class="text-h4 text-center text-primary pt-[1rem] pb-[2rem]">Preguntas frecuentes</h4>

    @for (faq of faqList; let i = $index; track faq.question) {
    <div class="flex flex-col items-center">
      <button (click)="toggleFaq(i)"
        class="w-full max-w-[574px] h-[56px] flex items-center justify-between px-4 text-h6 text-primary border-b border-gray-300">
        <span class="text-left grow leading-none text-base text-primary">
          {{ faq.question }}
        </span>

        <img [src]="
            faq.isOpen
              ? 'assets/icons/chevron-up.svg'
              : 'assets/icons/chevron-down.svg'
          " alt="Icono de despliegue" class="w-5 h-5 transition-transform duration-300 flex-shrink-0 ml-2" />
      </button>

      @if (faq.isOpen) {
      <div
        class="w-full max-w-[574px] px-4 mt-2 text-bodyS text-action text-left transition-all duration-500 ease-in-out opacity-100 max-h-[500px] overflow-hidden">
        {{ faq.answer }}
      </div>
      }
    </div>
    }
  </div>
</section>