<section class="w-screen min-h-[35rem] relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] overflow-hidden">
    <!-- imagen de fondo -->
    <div class="absolute inset-0 bg-fixed bg-cover bg-center bg-main-bg opacity-15 -z-10"></div>
    <!-- contenido -->
    <div class="max-w-2xl mx-auto text-center space-y-6 my-20 text-primary text-bodyS px-8">
        <div class="pb-20">
            <p class="text-h4 pt-[1rem] pb-[2rem]">Síguenos en redes</p>
            <p>Forma parte de nuestra comunidad de cine independiente.<br>
                Comparte, comenta y descubre nuevos talentos todos los días.
            </p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-9 items-center justify-center text-center text-action hover:text-primary">
            <a href="#" target="_blank" rel="noopener noreferrer" class="hover:scale-90 transition-transform">
                <img src="/assets/icons/github.svg" alt="Github" class="mx-auto w-12 h-12">
                <p class="mt-3 text-underline">Github</p>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="hover:scale-90 transition-transform">
                <img src="/assets/icons/postman.svg" alt="Postman" class="mx-auto w-12 h-12">
                <p class="mt-3 text-underline">Postman</p>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="hover:scale-90 transition-transform">
                <img src="/assets/icons/figma.svg" alt="Figma" class="mx-auto w-12 h-12">
                <p class="mt-3 text-underline">Figma</p>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="hover:scale-90 transition-transform">
                <img src="/assets/icons/trello.svg" alt="Trello" class="mx-auto w-12 h-12">
                <p class="mt-3 text-underline">Trello</p>
            </a>
        </div>
    </div>
</section>