<section class="w-full bg-principal text-primary">
  <div class="text-center mb-10">
    <h2 class="text-h3 pt-[2.5rem] pb-[0.5rem]">Explora los límites de tu imaginación</h2>
  </div>

  <!-- seccion filtros -->
  <div class="flex flex-wrap justify-center gap-x-10 gap-y-6 items-end px-4 pb-[2rem]">
    <app-filtro-select label="GÉNERO" [opciones]="generos()" [(model)]="filtroGenero" />
    <app-filtro-select label="IDIOMA" [opciones]="idiomas()" [(model)]="filtroIdioma" />
    <app-filtro-select label="DURACIÓN" [opciones]="duraciones" [(model)]="filtroDuracion" />

    <div class="flex gap-3">
      <button class="boton-menu flex items-center gap-2 group icon-btn" (click)="resetFiltros()">
        <img src="assets/icons/close.svg" alt="Subir" class="w-5 h-5" />
        Limpiar
      </button>
    </div>
  </div>

  <!-- seccion videos -->
  <div class="w-screen relative left-1/2 -translate-x-1/2 bg-principal pt-10 pb-4 px-0">
    @if (cortometrajes().length === 0) {
    <div class="text-center text-bodyS text-primary font-medium pt-5">
      No hay cortometrajes disponibles con los filtros actuales.
    </div>
    } @else {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 
    gap-x-4 gap-y-12 justify-items-center">
      @for (corto of cortometrajes(); track corto.id) {
      <app-cortometraje-card [corto]="corto" />
      }
    </div>

    <div class="flex justify-center items-center gap-6 pt-20 text-primary text-base pb-6">
      @if (paginaActual() > 0) {
      <button (click)="paginaAnterior()" class="small-btn icon-btn" title="Anterior">
        <img src="assets/icons/chevron-left.svg" alt="Anterior" class="w-4 h-4" />
      </button>
      }
      <span>Página {{ paginaActual() + 1 }} de {{ totalPaginas() }}</span>
      @if (paginaActual() < totalPaginas() - 1) { <button (click)="siguientePagina()" class="small-btn icon-btn" title="Siguiente">
        <img src="assets/icons/chevron-right.svg" alt="Siguiente" class="w-4 h-4" />
        </button>
        }
    </div>
    }
  </div>
</section>