<section class="w-screen min-h-[12rem] relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-background text-textBase mt-3 mb-[4rem]">
  @if (favoritos().length) {
    <div class="px-[clamp(1rem,2.5vw,48px)] py-3">
      <h2 class="text-l font-semibold text-left">Ver después</h2>
    </div>
  }

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5
  gap-x-4 gap-y-12 justify-items-center">
    @for (fav of favoritos(); track fav.id) {
    <div class="relative">
      <a [routerLink]="['/cortometraje', fav.cortometrajeId]" class="block">
        <div class="aspect-[16/9] overflow-hidden">
          <img [src]="fav.cortometrajeImageUrl" [alt]="fav.cortometrajeTitle"
            class="w-full h-full object-cover transition-transform duration-300 hover:scale-105" />
        </div>
      </a>

      <div class="bg-input px-6 py-2 flex justify-between items-center">
        <div class="text-left">
          <h3 class="text-sm font-semibold text-textBase truncate">
            {{ fav.cortometrajeTitle }}
          </h3>
          <p class="text-xs text-subtext truncate">{{ fav.username }}</p>
        </div>

        <button (click)="eliminarDeFavoritos(fav.id); $event.stopPropagation()" class="p-1"
          title="Quitar de ver después">
          <img src="assets/icons/bookmark-style.svg" alt="Eliminar de favoritos" class="w-5 h-5" />
        </button>
      </div>
    </div>
    }

    @if (!favoritos().length) {
    <p class="col-span-full text-center text-bodyS mb-9 mt-6">
      Aún no tienes nada para ver después. ¿Quieres
      <a [routerLink]="(['/explore'])" class="text-underline text-action hover:text-primary cursor-pointer">
        explorar aquí</a>?
    </p>
    }
  </div>
</section>
