<nav class= "text-white px-6 py-4 flex justify-between items-center">
  <a routerLink="/" class="flex items-center gap-2">
    <img src="assets/img/indimetraLogo.png" alt="Logo" class="h-8 w-auto" />
  </a>


  <ul class="flex gap-6 items-center text-sm font-medium">
    <li><a routerLink="/" class="hover:text-indigo-400 transition">Inicio</a></li>
    <li><a routerLink="/genres" class="hover:text-indigo-400 transition">Género</a></li>
    <li><a routerLink="/techniques" class="hover:text-indigo-400 transition">Técnicas</a></li>
    <li><a routerLink="/explore" class="hover:text-indigo-400 transition">Explorar</a></li>
    <li><a routerLink="/auth/register" class="hover:text-green-400 transition">Regístrate</a></li>
    <li><a routerLink="/auth/login" class="hover:text-blue-400 transition">Iniciar sesión</a></li>
  </ul>
</nav>


