.nav-link,
.nav-link:hover,
.active-link {
  padding: 0.25rem 0.8rem;
}

.nav-link:hover,
.active-link {
  position: relative;
  background-color: #E3E1DE;
  color: #2A2929;
  border-radius: 0.375rem;
  font-weight: 600;
}

.icon-btn img {
  width: 1.2rem;
  transition: filter 0.3s ease;
}

.icon-btn:hover img {
  filter: invert(90%);
}