<nav class="text-white px-6 py-4 flex justify-between items-center">

  <div class="flex items-center gap-8">

    <a routerLink="/" class="flex items-center gap-2">
      <img src="assets/img/indimetra-logo.svg" alt="Logo" class="h-12 w-auto" />

    </a>

    <ul class="flex gap-6 items-center text-sm font-medium">
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      </li>
      <li>
        <a routerLink="/genres" routerLinkActive="active-link">Género</a>
      </li>
      <li>
        <a routerLink="/techniques" routerLinkActive="active-link">Técnicas</a>
      </li>
      <li>
        <a routerLink="/explore" routerLinkActive="active-link">Explorar</a>
      </li>
    </ul>
  </div>

  <ul class="flex gap-6 items-center text-sm font-medium">
    @if (!isLoggedIn()) {
      <li>
        <a
          routerLink="/auth/register"
          class="inline-flex items-center justify-center px-4 py-2 border border-textBase rounded-md text-textBase font-medium hover:bg-hoverBg hover:text-hoverText transition-colors duration-200"
          >
          Regístrate
        </a>
      </li>
      <li>
        <button
          (click)="showLoginModal.set(true)"
          class="inline-flex items-center justify-center px-4 py-2 border border-textBase rounded-md text-textBase font-medium hover:bg-hoverBg hover:text-hoverText transition-colors duration-200 appearance-none"
          >
          Iniciar sesión
        </button>
      </li>
    } @else {
      <li><span class="text-gray-400">Hola, {{ user()?.username }}</span></li>
      <li>
        <button
          (click)="logout()"
          class="hover:text-red-400"
        >
          Cerrar sesión
        </button>
      </li>
    }

    @if (isAdmin()) {
      <li>
        <a routerLink="/admin" class="hover:text-yellow-200">Panel Admin</a>
      </li>
    }
  </ul>

</nav>

<app-login-modal
  [visible]="showLoginModal()"
  (close)="showLoginModal.set(false)"
/>


