<div
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-[#E3E1DE] overflow-hidden mt-4"
  style="height: 450px;"
>

  <div class="absolute inset-0 flex items-center justify-center w-full h-full">
    <img
      src="assets/icons/iconoVid1.png"
      alt="Video Icon"
      class="h-24 w-24 opacity-70 transition-transform duration-300 hover:scale-110 cursor-pointer"
    />
  </div>
</div>

<section class="text-center text-textBase bg-background py-8 space-y-2">
  <p class="text-base md:text-lg">
    Tu espacio para descubrir el mejor cine independiente, de autor y experimental
  </p>
  <p class="text-base md:text-lg">
    Tu espacio para hacer cine a tu manera
  </p>
</section>

<!-- Miniaturas -->
<section
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-background py-6 mb-8"
>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-3">

    <div
      class="relative bg-[#E3E1DE] h-[190px] overflow-hidden cursor-pointer"
    >
      <!-- IMAGEN REAL ASI -->
      <img
        src="URL_DE_LA_IMAGEN"
        alt="Nombre del corto"
        class="w-full h-full object-cover cursor-pointer"
    />

    </div>
      <div class="relative bg-[#E3E1DE] h-[190px] overflow-hidden cursor-pointer"></div>
      <div class="relative bg-[#E3E1DE] h-[190px] overflow-hidden cursor-pointer"></div>
      <div class="relative bg-[#E3E1DE] h-[190px] overflow-hidden cursor-pointer"></div>
    </div>

</section>
