<nav class="text-white px-6 py-4 flex flex-col md:flex-row md:justify-between md:items-center gap-y-6">
  <a routerLink="/admin/dashboard" class="text-lg font-bold">AdminPanel</a>

  <div class="flex gap-6 text-sm">
    <a routerLink="/admin/videos" routerLinkActive="underline">Gestión vídeos</a>
    <a routerLink="/admin/users" routerLinkActive="underline">Gestión usuarios</a>
    <a routerLink="/admin/reviews" routerLinkActive="underline">Gestión reseñas</a>
    <a routerLink="/admin/filters" routerLinkActive="underline">Gestión filtros</a>
  </div>
</nav>

