<footer class="bg-background text-textBase px-6 py-10 text-sm">

  <div class="flex flex-wrap justify-center gap-6 max-w-6xl mx-auto mb-6 text-center md:justify-between text-[11px]">
    <a href="#">¿Quiénes somos?</a>
    <a href="#">Preguntas frecuentes</a>
    <a href="#">Contacto</a>
    <a href="#">Aviso legal</a>
    <a href="#">RRSS</a>
  </div>

  <div class="-mx-6 mb-8">
    <div class="border-t border-textBase w-full"></div>
  </div>

  <div class="flex justify-center mb-4">
    <img src="assets/img/indimetra-logo.svg" alt="Logo Indimetra" class="h-50" />
  </div>

  <p class="text-center text-[11px]">
    © Indimetra 2025. All rights reserved
  </p>
</footer>

