<footer class="bg-background text-textBase px-6 py-10 text-sm">

  <div class="w-full mb-6 px-4 sm:px-8 lg:px-20">
    <div class="flex flex-col sm:flex-row flex-wrap sm:justify-between text-[11px] gap-y-2 gap-x-4 text-center sm:text-left">
      <a href="#">¿Quiénes somos?</a>
      <a href="#">Preguntas frecuentes</a>
      <a href="#">Contacto</a>
      <a href="#">Aviso legal</a>
      <a href="#">RRSS</a>
    </div>
  </div>

  <div class="-mx-6 mb-8">
    <div class="border-t border-textBase w-full"></div>
  </div>

  <div class="flex justify-center mb-4">
    <img src="assets/img/indimetra-logo.svg" alt="Logo Indimetra" class="h-50" />
  </div>

  <p class="text-center text-[11px]">
    © Indimetra 2025. All rights reserved
  </p>
</footer>
