<footer class="bg-principal text-primary px-6 pt-6 pb-4 border-t border-secondary w-full">

  @if (!isAdmin()) {
  <div class="w-full mb-6 px-4 sm:px-8 lg:px-20 container mx-auto pb-6">
    <div
      class="flex flex-col sm:flex-row flex-wrap sm:justify-between text-bodyXS gap-y-2 gap-x-4 text-center sm:text-left">
      <a class="nav-link" routerLink="/about-us" routerLinkActive="active-link">¿Quiénes somos?</a>
      <a class="nav-link" routerLink="/faqs" routerLinkActive="active-link">Preguntas frecuentes</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contacto</a>
      <a class="nav-link" routerLink="/legal" routerLinkActive="active-link">Aviso legal</a>
      <a class="nav-link" routerLink="/rrss" routerLinkActive="active-link">RRSS</a>
    </div>
  </div>
  }

  <div class="flex justify-center mb-4">
    <img src="assets/img/indimetra-logo.svg" alt="Logo Indimetra" class="logoMedium" />
  </div>

  <p class="text-center text-bodyXS">
    © Indimetra 2025. All rights reserved
  </p>
</footer>