<section class="w-full bg-principal text-primary px-[clamp(1rem,2.5vw,48px)] pt-10 pb-6">
  <div class="text-center space-y-4 mb-10">
    <h4 class="text-h4">Gestión de categorías</h4>
  </div>

  <div class="flex flex-wrap justify-center gap-x-10 gap-y-6 items-end px-4 py-2">
    <app-filtro-select label="PELÍCULA" [opciones]="peliculas()" [(model)]="filtroPelicula" />
    <app-filtro-select label="USUARIO" [opciones]="usuarios()" [(model)]="filtroUsuario" />

    <div class="flex gap-3">
      <button
        class="boton-menu icon-btn flex items-center gap-2 group transition-all px-4 py-2 rounded"
        (click)="resetFiltros()">
        <img src="assets/icons/close.svg" alt="Subir" class="w-4 h-4" />
        <p class="text-primary transition-colors group-hover:text-principal">
          Limpiar
        </p>
      </button>
    </div>
  </div>

  <section class="max-w-4xl mx-auto pt-10">
    @if (reviewsPaginadas.length === 0) {
    <div class="text-center text-bodyS text-primary font-medium py-12">
      No hay reseñas disponibles con los filtros actuales.
    </div>
    } @else {
    <div class="space-y-4">
      @for (review of reviewsPaginadas; track review.id) {
      <div class="flex gap-2 items-center min-h-[56px]">
        <button (click)="eliminarReview(review.id)"
          class="small-btn icon-btn text-primary transition-colors mt-7" title="Eliminar reseña"
          aria-label="Eliminar reseña">
          <img src="assets/icons/delete.svg" alt="Ocultar" class="w-5 h-5" />
        </button>

        <div class="flex-1 space-y-1 ml-1">
          <p class="font-semibold text-primary">
            {{
            review.username.charAt(0).toUpperCase() + review.username.slice(1)
            }}
          </p>

          <div class="flex justify-between items-start gap-4 bg-card px-4 py-3 rounded text-primary">
            <p class="text-bodyS text-secondary flex-1">
              {{ review.comment }}
            </p>
            <div
              class="w-8 h-8 min-w-8 border border-primary text-primary  rounded flex items-center justify-center">
              {{ review.rating }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </section>

  <div class="flex justify-center items-center gap-6 pt-20 text-primary text-base pb-6">
    @if (paginaActual() > 0) {
    <button (click)="paginaAnterior()" class="small-btn icon-btn" title="Anterior">
      <img src="assets/icons/chevron-left.svg" alt="Anterior" class="w-4 h-4" />
    </button>
    }
    <span>Página {{ paginaActual() + 1 }} de {{ totalPaginas() }}</span>
    @if (paginaActual() < totalPaginas() - 1) { <button (click)="siguientePagina()" class="small-btn icon-btn" title="Siguiente">
      <img src="assets/icons/chevron-right.svg" alt="Siguiente" class="w-4 h-4" />
      </button>
      }
  </div>
</section>
