@if (visible) {
<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="p-6 rounded shadow-lg w-full max-w-md relative">
    <button
      (click)="closeModal()"
      class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl"
    >
      ✕
    </button>

    <h1 class="text-2xl font-bold mb-4">Iniciar sesión</h1>

    <form (ngSubmit)="login()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-white">Usuario</label>
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          required
          class="w-full mt-1 p-2 border rounded text-black"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-white">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          class="w-full mt-1 p-2 border rounded text-black"
        />
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition"
      >
        Iniciar sesión
      </button>

      @if (errorMessage) {
      <p class="text-red-500 text-sm mt-2">{{ errorMessage }}</p>
      }
    </form>
  </div>
</div>
}
