@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textBase font-sans;
  overflow-x: hidden;
}

main {
  position: relative;
  bottom: 15px;
}

.boton-menu {
  @apply inline-flex items-center justify-center px-4 py-2 border border-textBase rounded-md text-textBase text-bodyS hover:bg-hoverBg hover:text-hoverText transition-colors duration-200 whitespace-nowrap appearance-none;
}

.logoMedium {
  width: 23.13rem;
  height: 9.45rem;
}
.logoSmall {
  width: 9.64rem;
  height: 3.94rem;
}

.text-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%;
  text-underline-offset: 19%;
  text-underline-position: from-font;
}