@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-principal text-primary font-sans;
  overflow-x: hidden;
}

/*main {
  position: relative;
  bottom: 15px;
}*/

.boton-menu {
  @apply inline-flex items-center justify-center px-[1.1rem] py-[0.5rem] border border-primary rounded-md text-primary text-bodyS hover:bg-action hover:text-black transition-colors duration-200 whitespace-nowrap appearance-none;
}

.logoMedium {
  width: 23.13rem;
  height: 9.45rem;
}

.logoSmall {
  width: 9.64rem;
  height: 3.94rem;
}

.text-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%;
  text-underline-offset: 19%;
  text-underline-position: from-font;
}

.input-form {
  @apply w-full h-[36px] px-[12px] pr-[56px] py-[8px] rounded-[2px] bg-input text-sm leading-5 font-medium text-secondary placeholder:text-secondary placeholder:font-medium placeholder:text-sm placeholder:leading-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #373330 inset !important;
  box-shadow: 0 0 0px 1000px #373330 inset !important;
  -webkit-text-fill-color: #E3E1DE !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

.icon-btn img {
  width: 1.2rem;
  transition: filter 0.3s ease;
}

.icon-btn:hover img,
.icon-btn.active-link img,
.icon-btn.active-btn img {
filter: invert(90%);
}

.nav-link,
.nav-link:hover,
.active-link {
  padding: 0.25rem 0.85rem;
}

.nav-link:hover,
.active-link,
.active-btn {
  position: relative;
  background-color: #E3E1DE;
  color: #2A2929;
  border-radius: 0.375rem;
  font-weight: 600;
}