@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textBase font-sans;
  overflow-x: hidden;
}

main {
  position: relative;
  bottom: 15px;
}

.boton-menu {
  @apply inline-flex items-center justify-center px-4 py-2 border border-textBase rounded-md text-textBase text-bodyS hover:bg-hoverBg hover:text-hoverText transition-colors duration-200 whitespace-nowrap appearance-none;
}

.text-base {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.002rem;
}

.text-bodyS {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00175rem;
}

.text-bodyXS {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.00375rem;
}

.logoMedium {
  width: 23.13rem;
  height: 9.45rem;
}
.logoSmall {
  width: 9.64rem;
  height: 3.94rem;
}