<section class="w-full bg-principal text-primary px-[clamp(1rem,2.5vw,48px)] pt-10 pb-6">
  <div class="text-center space-y-4 mb-10">
    <h4 class="text-h4">Gestión de categorias</h4>
  </div>

  <div class="flex flex-wrap justify-between items-center mb-6 max-w-3xl mx-auto gap-4">
    <div class="relative flex-1 min-w-[250px] max-w-xs">
      <input type="text" placeholder="Buscar por nombre..."
        class="w-full bg-input text-white border border-secondary rounded-lg px-4 py-2 placeholder-secondary focus:outline-none focus:ring-2 focus:ring-secondary"
        [value]="filtroNombre()" (input)="filtroNombre.set($any($event.target).value); aplicarFiltros()" />
    </div>

    <button (click)="abrirFormularioNuevaCategoria()" class="boton-menu gap-2">
      Crear categoría
    </button>
  </div>

  <section class="max-w-3xl mx-auto pt-6 space-y-4">
    @if (categoriasPaginadas().length === 0) {
    <div class="text-center text-bodyS text-primary font-medium py-12">
      No hay categorías disponibles.
    </div>
    } @else { @for (categoria of categoriasPaginadas(); track categoria.id) {
    <div class="flex gap-2 items-center min-h-[56px]">
      <button (click)="eliminarCategoria(categoria.id)" class="small-btn icon-btn text-primary transition-colors mt-7"
        title="Eliminar reseña">
        <img src="assets/icons/delete.svg" alt="Ocultar" class="w-5 h-5" />
      </button>

      <div class="flex-1 space-y-1 ml-1">
        <p class="text-actionBase text-primary">
          {{ categoria.name }}
        </p>

        <div class="bg-card px-4 py-3 rounded text-secondary text-bodyS">
          {{ categoria.description || "Sin descripción" }}
        </div>
      </div>
    </div>
    } }
  </section>

  <div class="flex justify-center items-center gap-6 pt-20 text-primary text-base pb-6">
    @if (paginaActual() > 0) {
    <button (click)="paginaAnterior()" class="small-btn icon-btn" title="Anterior">
      <img src="assets/icons/chevron-left.svg" alt="Anterior" class="w-4 h-4" />
    </button>
    }
    <span>Página {{ paginaActual() + 1 }} de {{ totalPaginas() }}</span>
    @if (paginaActual() < totalPaginas() - 1) { <button (click)="siguientePagina()" class="small-btn icon-btn"
      title="Siguiente">
      <img src="assets/icons/chevron-right.svg" alt="Siguiente" class="w-4 h-4" />
      </button>
      }
  </div>
  @if (mostrarModal) {
  <app-filters-form (cerrar)="cerrarModal()" (categoriaCreada)="onCategoriaCreada()" />
  }
</section>