<section class="w-screen min-h-[600px] relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] overflow-hidden">
    <!-- imagen de fondo -->
    <div class="absolute inset-0 bg-fixed bg-cover bg-center bg-main-bg opacity-25 -z-10"></div>
    <!-- contenido -->
    <div class="max-w-4xl mx-auto text-center space-y-6 my-20 text-textBase text-actionS px-4">
        <h2 class="text-h4 py-6">¿Qué es Indimetra?</h2>
        <p>Indimetra es una plataforma creada por y para amantes del cine independiente.</p>
        <p>
            Nacimos con una idea clara: dar visibilidad a los cortometrajes que merecen ser vistos, contados con alma,
            esfuerzo y libertad creativa. Aquí no importa el presupuesto, sino la historia que tienes que contar.
        </p>
        <p>
            Creemos en el poder del cine para emocionar, denunciar, experimentar, hacer reír o simplemente conectar.
            Por eso, hemos creado un espacio donde cineastas pueden compartir sus obras, descubrir nuevas voces
            y crear comunidad.
        </p>
        <p>
            Desde cortos rodados con el móvil hasta piezas animadas, desde el drama más íntimo hasta el terror más
            experimental… Indimetra es el escaparate para todas esas miradas que no entran en el circuito comercial,
            pero que tienen mucho que decir.
        </p>
        <p>
            Descubre todos los detalles sobre Indimetra en nuestra sección de
            <a class="text-underline text-hoverBg hover:text-textBase" routerLink="/faqs" routerLinkActive="active-link">preguntas frecuentes</a>.
        </p>
    </div>
</section>
